nav {
  background: linear-gradient(
    to right,
    var(--darkPurple),
    var(--purple),
    var(--orange),
    var(--darkOrange)
  );
  min-height: 10vh;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 9;
}
.badge {
  margin-left: 3px;
  background-color: var(--orange);
}
a.navbar-brand {
  font-size: 1.5rem;
}
a.navbar-brand:active,
a.navbar-brand:focus,
.dropdown-toggle:active,
.dropdown-toggle:focus {
  color: var(--white);
}
a {
  cursor: pointer;
}
.nav-items {
  display: flex;
}
.right {
  position: absolute;
  right: 12px;
}
a,
button,
a:hover,
button:hover {
  color: var(--white);
}
button.dropdown-toggle {
  border-radius: 5px;
}
ul.user-menu {
  position: absolute;
  right: 0;
}
ul.user-menu a {
  color: var(--darkPurple);
}
ul.user-menu a:active,
ul.user-menu a:focus {
  background-color: var(--white);
}
.user-logo {
  background-color: var(--darkPurple);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.user-logo:active,
.user-logo:focus {
  box-shadow: none !important;
}
/* show user menu on hover */
nav li.user-button:hover {
  .user-menu{
    display: block !important;
  }
}
