nav {
  background: linear-gradient(
    to right,
    var(--darkPurple),
    var(--purple),
    var(--orange),
    var(--darkOrange)
  );
  min-height: 10vh;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 9;
}
a.navbar-brand {
  font-size: 1.5rem;
}
a.navbar-brand:active,
a.navbar-brand:focus,
.dropdown-toggle:active,
.dropdown-toggle:focus{
  color: var(--white);
}
a {
  cursor: pointer;
}
.nav-items {
  display: flex;
}
.right {
  position: absolute;
  right: 12px;
}
a,
button,
a:hover,
button:hover {
  color: var(--white);
}
button.dropdown-toggle{
  border-radius: 5px;
}
ul.dropdown-menu {
  position: absolute;
  right: 0;
}
ul.dropdown-menu a {
  color: var(--darkPurple);
}
ul.dropdown-menu a:active,
ul.dropdown-menu a:focus{
  background-color: var(--white)
}
.user:active,
.user:focus {
  box-shadow: none !important;
}
