.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 576px) {
  main {
    max-width: 360px;
  }
  main {
    justify-content: center;
    margin: auto;
  }
  .top {
    flex-direction: column;
  }
}
button{
  background-color: var(--darkPurple);
  border: 1px solid var(--orange);
}
button:hover{
  background-color: var(--orange);
}
