<app-loading *ngIf="isLoading"></app-loading>
<!-- separate -->
<app-popup-message
  [popupMessage]="PopupMessage"
  (closePopupMessage)="receivedFromPopupComp($event)"
></app-popup-message>
<!-- separate -->
<main *ngIf="!isLoading">
  <div class="row">
    <div>
      <h1>all products</h1>
      <div class="form-group">
        <input
          type="search"
          id="search"
          name="search"
          class="form-control"
          placeholder="search products"
          (input)="search($event)"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <app-products-filters
      [categories]="categories"
      (selectedFilter)="filterBy($event)"
    ></app-products-filters>
  </div>
  <div class="row">
    <div
      class="products col-sm-6 col-md-6 col-xl-3 col-lg-4"
      *ngFor="let product of products; let i = index"
    >
      <div class="product">
        <app-product
          [productComp]="product"
          [routerLink]="['/details/', product.id]"
        ></app-product>
        <div class="actions">
          <button class="btn">
            <img
              (click)="addToCart(product)"
              src="../../../../assets/cart_icon-removebg-preview.png"
              alt="cart"
              loading="lazy"
            />
          </button>
          <button class="btn">
            <img
              (click)="addToFavorite(product)"
              src="../../../../assets/favorite_icon-removebg-preview.png"
              alt="favorite"
              loading="lazy"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
