<app-loading *ngIf="isLoading"></app-loading>
<app-error-message
  *ngIf="errorMsg"
  [errorMessage]="errorMsg"
  (closeError)="receivedFromErrorComp($event)"
></app-error-message>
<!-- separate -->
<main *ngIf="!isLoading">
  <div class="row">
    <div>
      <h1>all products</h1>
      <div class="form-group">
        <input
          type="search"
          id="search"
          name="search"
          class="form-control"
          placeholder="search products"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <app-products-filters
      [categories]="categories"
      (selectedFilter)="filterBy($event)"
    ></app-products-filters>
  </div>
  <div class="row">
    <div
      class="products col-sm-6 col-md-6 col-xl-3 col-lg-4"
      *ngFor="let product of products; let i = index"
    >
    <div class="product">
      <app-product [productComp]="product"></app-product>
      <div class="actions">
        <button class="btn">
          <img
            value="{{ i }}"
            (click)="add($event)"
            src="../../../../assets/cart_icon-removebg-preview.png"
            alt="cart"
          />
        </button>
        <button class="btn">
          <img
            value="{{ i }}"
            (click)="add($event)"
            src="../../../../assets/favorite_icon-removebg-preview.png"
            alt="favorite"
          />
        </button>
      </div>
    </div>
    </div>
  </div>
</main>
