<a class="product">
  <div class="card">
    <img
      src="{{ productComp.image }}"
      class="card-img-top image-product"
      alt="{{ productComp.title }}"
      loading="lazy"
    />
    <div class="card-body">
      <h5 class="card-title text-center" title="{{ productComp.title }}">
        {{ productComp.title }}
      </h5>
      <p class="card-text text-center" title="{{ productComp.description }}">
        {{ productComp.description }}
      </p>
      <p class="price text-center">{{ productComp.price | currency }}</p>
      <div class="rating">
        <p>
          <span>Rating: </span>{{ productComp.rating.rate }}
          <span class="star">&starf;</span>
        </p>
        <p><span>Count: </span>{{ productComp.rating.count }}</p>
      </div>
    </div>
  </div>
</a>
