.card {
  margin-top: 20px;
}
.card-title {
  color: var(--orange);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  white-space: pre-wrap;
}
.card-text {
  margin-bottom: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  white-space: pre-wrap;
}
.card img.image-product {
  max-width: 100%;
  height: 200px;
  border-bottom: 1px solid var(--darkOrange);
}
.card h5::first-letter {
  text-transform: uppercase;
}
.price {
  color: var(--purple);
  font-size: 1.75rem;
  width: 100%;
  margin: 0;
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.rating p {
  margin-bottom: 0;
}
.rating span {
  color: var(--orange);
}
