div {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--darkPurple);
  color: var(--white);
  padding: 20px;
  border-radius: 8px;
}
button {
  background-color: var(--purple);
  color: var(--white);
}
button:hover{
  background-color: var(--orange);
}
