section {
  row-gap: 10px;
  margin-bottom: 20px;
}
section:last-of-type {
  margin-bottom: 0;
}
.image {
  padding: 0;
  height: 50vh;
  overflow: hidden;
}
img {
  width: 75%;
  height: 100%;
  border-radius: 10px;
}
section div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
}
section .text {
  padding: 0;
  height: 50vh;
}
section div p {
  position: relative;
  font-size: 28px;
  font-weight: bold;
  line-height: 160%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  color: var(--purple);
  padding: 10px;
  margin: 0 12.5%;
  border: 1.5px solid var(--darkOrange);
  border-radius: 10px;
}
section div p::before {
  content: "";
  position: absolute;
  left: 25%;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--darkOrange);
}
section div p::after {
  content: "";
  position: absolute;
  right: 25%;
  bottom: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--orange);
}
section div button {
  background-color: var(--darkPurple);
  color: var(--white);
  font-size: 1.5rem;
  padding: 10px 20px;
}
section div button:hover {
  background-color: var(--purple);
}
/* last section */
section:last-of-type {
  padding-top: 20px;
  padding-bottom: 20px;
}
section:last-of-type div {
  justify-content: space-between;
}
section:last-of-type div div {
  display: flex;
  flex-direction: row;
}
section:last-of-type div div svg {
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin: 5px;
}
form .form-group {
  display: flex;
  align-items: flex-start;
  gap: 0;
  flex-direction: column !important;
}
form legend {
  font-size: 1.5rem;
  color: var(--purple);
  font-weight: bold;
}
form input,
form textarea {
  margin: 5px 0;
}
form .send button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 1rem;
}
