<app-loading *ngIf="isLoading"></app-loading>
<!-- separate -->
<app-popup-message
  [popupMessage]="popupMessage"
  (closePopupMessage)="received($event)"
></app-popup-message>
<!-- separate -->
<h1>profile</h1>
<hr />
<!-- separate -->
<main class="row">
  <section class="col-sm-12">
    <div class="personal-info">
      <div class="name">
        <p><span>First name: </span>{{ currentUser.fName }}</p>
        <p><span>Last name: </span>{{ currentUser.lName }}</p>
      </div>
      <p class="email"><span>Email: </span>{{ currentUser.email }}</p>
    </div>
    <h2 class="text-center" *ngIf="orders.length">Your orders</h2>
    <div class="orders" *ngFor="let order of orders; let i = index">
      <div class="order row">
        <span class="count">{{ i + 1 }}</span>
        <div
          class="products col-sm-12 col-md-6 col-lg-4"
          *ngFor="let product of order.products"
        >
          <img src="{{ product.image }}" alt="product-image" loading="lazy" />
          <p><span>Title: </span>{{ product.title }}</p>
          <p><span>Quantity: </span>{{ product.quantity }}</p>
          <p>
            <span>Price of single item: </span>{{ product.price | currency }}
          </p>
        </div>
        <hr class="m-0" />
        <div class="order-info p-0 d-flex flex-wrap col-sm-12">
          <div>
            <p><span>Full name: </span>{{ order.fullName }}</p>
            <p><span>City: </span>{{ order.city }}</p>
            <p><span>Street: </span>{{ order.streetAddress }}</p>
            <p><span>Phone: </span>{{ order.phone }}</p>
          </div>
          <div>
            <p><span>Arrival date: </span>{{ order.arrivalDate }}</p>
            <p>
              <span>Total without shipping: </span
              >{{ order.totalWithOutShipping | currency }}
            </p>
            <p>
              <span>Total with shipping: </span
              >{{ order.totalWithShipping | currency }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="mt-5">
      <fieldset>
        <legend>Change Password:</legend>
        <div class="form-group">
          <label for="old" class="form-label">Old password</label>
          <input
            type="password"
            class="form-control w-50"
            id="old"
            formControlName="oldPass"
            #oldPass
          />
          <div class="m-1">
            <input type="checkbox" (click)="showPassword(oldPass)" />show
            password
          </div>
          <span
            *ngIf="
              passwordForm.get('oldPass').invalid &&
              passwordForm.get('oldPass').touched
            "
          >
            <span *ngIf="passwordForm.get('oldPass').errors['required']">
              Please insert old password!
            </span>
            <span *ngIf="passwordForm.get('oldPass').errors['pattern']">
              insert at least six chars contains: 1 upper char, 1 number & 1
              special char (!@#$%^&*)
            </span>
          </span>
        </div>
        <div class="form-group mt-3">
          <label for="new" class="form-label">New password</label>
          <input
            type="password"
            class="form-control w-50"
            id="new"
            formControlName="newPass"
            #newPass
          />
          <div class="m-1">
            <input type="checkbox" (click)="showPassword(newPass)" />show
            password
          </div>
          <span
            *ngIf="
              passwordForm.get('newPass').invalid &&
              passwordForm.get('newPass').touched
            "
          >
            <span *ngIf="passwordForm.get('newPass').errors['required']">
              Please insert old password!
            </span>
            <span *ngIf="passwordForm.get('newPass').errors['pattern']">
              insert at least six chars contains: 1 upper char, 1 number & 1
              special char (!@#$%^&*)
            </span>
          </span>
        </div>
        <div>
          <button
            class="btn text-center w-25"
            type="submit"
            [disabled]="passwordForm.invalid"
          >
            Change
          </button>
        </div>
      </fieldset>
    </form>
  </section>
  <hr class="mt-3" />
  <div class="d-flex justify-content-end">
    <button
      class="btn text-center bg-danger text-light"
      type="button"
      (click)="deleteAccount()"
    >
      Delete account
    </button>
  </div>
</main>
