.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
legend {
  font-size: 2.5rem;
  color: var(--darkPurple);
}
label {
  color: var(--darkPurple);
}
input {
  border: 1px solid var(--darkPurple);
}
.actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.actions button {
  width: 40%;
  background-color: var(--purple);
  color: var(--white);
}
.actions button:hover {
  background-color: var(--darkPurple);
}
