:root {
  --orange: #D98A29;
  --darkOrange: #D94B2B;
  --darkPurple: #590e2a;
  --purple: #A63F82;
  --white: #ffffff;
}
html * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a{
  text-decoration: none;
  cursor: pointer;
}
input:active,
input:focus,
button:active,
button:focus{
  box-shadow: 0 0 0 0.25rem rgba(89, 14, 42, 0.5) !important;
}
