:root {
  --orange: #D98A29;
  --darkOrange: #D94B2B;
  --darkPurple: #590e2a;
  --purple: #A63F82;
  --white: #ffffff;
}
html * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a{
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus{
  box-shadow: 0 0 0 0.25rem rgba(89, 14, 42, 0.5) !important;
}
/* start style form inputs when validation */
input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid {
  box-shadow: 0 0 0 0.25rem #dc3545 !important;
}
.form-group span {
  color: #dc3545;
}
/* end style form inputs when validation */
h1{
  color: var(--darkPurple);
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  line-height: 40px;
  font-style: italic;
  text-align: center;
}
@media (max-width: 768px) {
  h1{
    font-size: 1.5rem;
  }
}
::selection {
  background-color: var(--orange);
}
